netflix.com
*.netflix.com
astro.com.my
*.astro.com.my
hotstar.com
*.hotstar.com
viu.com
*.viu.com
iq.com
*.iq.com
spotify.com
*.spotify.com
loklok.com
*.loklok.com
sooka.my
*.sooka.my
syok.tv
*.syok.tv
cloudfront.net
*.cloudfront.net
primevideo.com
*.primevideo.com
roblox.com
*.roblox.com
hbogoasia.com
*.hbogoasia.com
mytnb.com.my
*.mytnb.com.my
ip.gs
ifconfig.co
